.about__title {
  margin-bottom: 10px;
}
.about__description {
  margin-bottom: 20px;
  font-size: 20px;
}

.about__item {
  padding: 10px 10px 10px 0;
  list-style: none;
}
.about__item:hover {
  background-color: #ccc;
}
.about__description-text {
  margin-bottom: 20px;
}
